{extend name="common" /}

{block name='content'}
<div class="layuimini-container">
    <blockquote class="layui-elem-quote">注意：<br/>定时器开始、暂停、重起都是在下一分钟开始生效!!!<br/>启动中的定时任务修改"任务脚本"或"任务频率"后，需要重启才会生效!!!</blockquote>
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide" lay-filter="currentTable"
               data-auth-add="1"
               data-auth-edit="1"
               data-auth-delete="1">
        </table>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.extend({
        ea: 'lay-module/ea/ea.min'
    }).use(['ea'], function () {
        let ea = layui.ea,
            init = {
                table_elem: '#currentTable',
                table_render_id: 'currentTableRenderId',
                index_url: 'admin/system_crontab/index',
                add_url: 'admin/system_crontab/add',
                edit_url: 'admin/system_crontab/edit',
                delete_url: 'admin/system_crontab/delete',
                export_url: 'admin/system_crontab/export',
                modify_url: 'admin/system_crontab/modify',
                flow_url: 'admin/system_crontab/flow',
                relod_url: 'admin/system_crontab/reload'
            };

        ea.table.render({
            init: init,
            cellMinWidth: 100,
            cols: [[
                {type: 'checkbox'},
                {field: 'id', title: 'ID', sort: true, width: 80, search: false},
                {field: 'title', title: '任务标题'},
                {field: 'type', title: '任务类型', selectList: {0: '请求url', 1: '执行sql', 2: '执行shell'}},
                {field: 'frequency', title: '任务频率', edit: "text", search: false},
                {field: 'shell', title: '任务脚本', edit: "text", search: false},
                {field: 'remark', title: '任务备注', edit: "text", search: false},
                {field: 'sort', title: '排序', sort: true, edit: 'text', search: false},
                {field: 'status', title: '状态', sort: true, templet: ea.table.switch, selectList: {0: '禁用', 1: '启用'}},
                {field: 'create_time', title: '创建时间', sort: true, search: 'range'},
                {
                    width: 150, title: '操作', templet: ea.table.tool, operat: [
                        [{
                            text: '重启',
                            url: init.relod_url,
                            field: 'id',
                            method: 'request',
                            title: '确定重启吗？',
                            auth: 'reload',
                            class: 'layui-btn layui-btn-xs layui-btn-success'
                        }, {
                            text: '日志',
                            url: init.flow_url,
                            field: 'id',
                            method: 'open',
                            auth: 'flow',
                            class: 'layui-btn layui-btn-xs layui-btn-normal',
                            extend: 'data-full="false"',
                        }],
                        'delete']
                }
            ]],
        });

        ea.listen();
    });
</script>
{/block}
