{extend name="common" /}

{block name='content'}
<div class="layuimini-container">
    <div class="layuimini-main">
        <table id="currentTable" class="layui-table layui-hide" lay-filter="currentTable"
               data-auth-add="1"
               data-auth-edit="1"
               data-auth-delete="1">
        </table>
    </div>
</div>
{/block}

{block name="js"}
<script>
    layui.extend({
        ea: 'lay-module/ea/ea.min'
    }).use(['ea'], function () {
        let ea = layui.ea,
            init = {
                table_elem: '#currentTable',
                table_render_id: 'currentTableRenderId',
                index_url: 'admin/system_crontab_flow/index',
                export_url: 'admin/system_crontab_flow/export',
            };

        ea.table.render({
            init: init,
            cellMinWidth: 100,
            toolbar: ['refresh', 'delete', 'export'],
            cols: [[
                {type: 'checkbox'},
                {field: 'id', title: 'ID', sort: true, width: 80, search: false},
                {field: 'remark', title: '备注'},
                {field: 'create_time', title: '创建时间', sort: true, search: 'range'}
            ]],
        });

        ea.listen();
    });
</script>
{/block}
